header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}

header button[type='submit'],
header input[type='text'] {
  margin: 0;
}

header form,
header label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}